
.main {
  background-color: $background-color;
  display: grid;
  justify-content: center;

  @include content-padding-inline;

  @include on-desktop {
    padding-inline: 120px;
  }

  @include on-tablet;
}
